:root{
    --color1: #3659f5;
    --color2: #3659f5aa;
    --color3: #bdbdbd;
}

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

form{
    width: 100%;
    max-width: 450px;
}

h1{
    font-size: 2.5rem;
    font-weight: bold;
}

fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    margin-bottom: 15px;
}

fieldset > div{
    display: grid;
    grid-template-columns: 80% min-content;
    margin-bottom: auto;
    gap: 15px;
    min-width: 55%;
}

p {
    height: 20%;
    margin-bottom: auto;
    grid-column: 1 / -1;
}

label {
    text-wrap: nowrap;
}


button {
    padding: 5px 10px 5px 10px;
    border: solid 1px var(--color3);
    border-radius: 3px;
    background-color: var(--color1);
    color: white;
}

button:hover{
    background-color: var(--color2);
    cursor: pointer;
}

button:disabled {
    background-color: var(--color3);
    cursor:not-allowed;
}

.btn-wrapper{
    display: flex;
    justify-content: space-evenly;
}