:root{
    --color1: #3659f5;
    --color2: #3659f5aa;
    --color3: #bdbdbd;
}

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

form{
    width: 25%;
}

h1{
    font-size: 2.5rem;
    font-weight: bold;
}

fieldset{
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 50% repeat(4, 1fr);
    margin: 10px;
    height: 300px;
    justify-items: start;
    justify-content: end;
}
p {
    margin-bottom: auto;
    grid-column: 1 / -1;
}
label {
    margin-left: 25%;
}
input {
    height: min-content;
}

button {
    padding: 5px 10px 5px 10px;
    border: solid 1px var(--color3);
    border-radius: 3px;
    background-color: var(--color1);
    color: white;
}

button:hover{
    background-color: var(--color2);
    cursor: pointer;
}

button:disabled {
    background-color: var(--color3);
    cursor:not-allowed;
}

.btn-wrapper{
    display: flex;
    justify-content: space-evenly;
}